[submodule "lest"]
	path = ext/lest
	url = https://github.com/martinmoene/lest.git
[submodule "wx-widgets"]
	path = ext/wx-widgets
	url = https://github.com/wxWidgets/wxWidgets.git
[submodule "git"]
	path = ext/git
	url = https://github.com/andrew-hardin/cmake-git-version-tracking.git
